<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><img src="/img/photo-1.jpg" alt="Yummy Burger!"></li>
  <li><img src="/img/photo-2.jpg" alt="Oh Yeah!"></li>
  <li><img src="/img/photo-3.jpg" alt="So good!"></li>
  <li><img src="/img/photo-4.jpg" alt="Can't stop!"></li>
</ul>