<ul>
  <h2>Answering the question:</h1>
  <h3><i>Who's got the best burger in Gothenburg, Sweden?</i></h2>
  <h3><a href="/sign_up">Sign Up</a> or <a href="/learn_more">Learn More</a></h3>
</ul>

<ul class="small-block-grid-1">
  <li><img src="/img/hero_shot.jpg" alt="Delicious Hamburgers!"></li>
</ul>