<ul>
  <h2>Answering the question</h1>
  <h3><i>Who's got the best burger in Gothenburg, Sweden?</i></h2>
  <button class="button round button button" type="submit" formmethod="post" formaction="/sign_up">Sign Up</button> or <a href="/learn_more">Learn More</a>
</ul>
<ul class="small-block-grid-1">
  <li><img src="/img/hero_shot.jpg" alt="Delicious Hamburgers!"></li>
</ul>
