<ul>
  <h2>Answering the question:</h2>
  <h3><i>Who's got the best burger in Gothenburg, Sweden?</i></h2>
</ul>
<ul class="small-block-grid-1">
  <li><img src="/img/hero_shot-1.jpg" alt="Delicious Hamburgers!"></li>
</ul>
<form><button class="button round button button expand" type="submit" formmethod="get" formaction="/sign_up">Sign Up</button><form>
<center><p>or <a href="/learn_more">Learn More</a></p></center>