<h2 align="center">Sign Up</h2>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="signup-panel">
      <form action="/sign_up" method="post">
        Desired User Name:<input type="text" name="user_name"><br>
        Email:<input type="email" name="email"><br>
        Password:<input type="password" name="password"><br>
        Password Confirm:<input type="password" name="password_confirm"><br>
        <button class="button round button button expand" type="submit" formmethod="post" formaction="/sign_up">Sign Up</button>
      </form>
      <p>Already have an account?<a href="/sign_in">&nbsp;Sign in here &raquo</a></p>
    </div>
  </div>
</div>